.meal {

    .checked {
        display: flex;
        justify-content: center;
        align-items: center;
        color: $white;
        background-color: $colour-tertiary;
        width: 85px;
        border-radius: 0 1rem 1rem 0;
        font-size: 1.5rem;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform 400ms 50ms ease-in-out;
        display: none;

        .fas {
            transform: rotate(0deg);
            transition: transform 400ms 50ms ease-in-out;
        }
    }

    &:hover .checked {
        transform: scaleX(1);
        display: flex;
    }

    &:hover .fas {
        transform: rotate(360deg);
    }
}

