.meal {
    @include meal;
    opacity: 0;
    animation: meal-apparition 900ms 300ms forwards;
    
    @keyframes meal-apparition{
        from {
            transform: translateY(30px);
        }
        to {
            transform: translate(0);
            opacity: 1;
        }
    }
}