.restaurants {
    background-color: $white;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 1rem;
    overflow: hidden;
    font-size: 1rem;
    position: relative;
    box-shadow: 0px 2px 5px #a09d9d;
    transition: all 0.5s;
    &:hover {
        transform: scale(1.03);
         transition: all 0s;
    }

    @include tablet-only {
        width: 49%;
        height: 260px;
        margin-bottom: 15px;
    }

    img {
        width: 100%;
        height: 70%;
        object-fit: cover;
    }

    .name_like {
        display: flex;
        flex-direction: row;
        height: 30%;
        width: 100%;
    }

    .name {
        font-size: 0.9rem;
        margin: 10px 0 0 15px;
        width: 70%;

        h3 {
            font-weight: 900;
            margin-bottom: 2px;
        }
    }

    .like {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        font-size: 1.7rem;
        cursor: pointer;
        @include like_animation;
    }
}