.intro {
    background-color: $grey;
    padding: 35px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 1.6rem;
        font-weight: 800;
        margin: 0 10px 10px;

        @include tablet-only {
            font-size: 2rem;
        }
    }
    p {
        font-size: 1.1rem;
        font-weight: 350;
        margin-bottom: 25px;

        @include tablet-only {
            font-size: 1.3rem;
        }
    }

    @include desktop-only {
        padding: 50px 50px;
    }
}