.intro {
    background-color: $grey;
    text-align: center;
    padding: 35px 50px;
    h1 {
        font-size: 1.6rem;
        font-weight: 800;
        margin: 0 10px 10px;

        @include tablet-only {
            font-size: 2rem;
        }
    }
    p {
        font-size: 1.1rem;
        font-weight: 350;
        margin-bottom: 25px;

        @include tablet-only {
            font-size: 1.3rem;
        }
    }
}