.bloc_steps {
    margin: 40px 25px;

    .step_title {
        width: 100%;
        display: flex; 
        justify-content: center;
    }

    h2 {
        margin-bottom: 20px;

        @include tablet-only {
            font-size: 1.8rem;
            text-align: center;
            border-bottom: 2px solid;
            border-image: linear-gradient(to right, $colour-primary, $colour-secondary);
            border-image-slice: 1;
            height: 100%;
            padding-bottom: 8px;
            width: 50%;
        }

        @include desktop-only {
            margin-bottom:  40px;
        }
    }

    .steps {
        display: flex;
        flex-direction: column;
        align-items: center;

        @include desktop-only {
            flex-direction: row;
            justify-content: center;
            width: 100%;
        }
    }

    .step {
        @include step;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .step_3 {
        @include step;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($colour-primary, .1);
        margin-bottom: 20px;

        i {
            color: $colour-primary;
        }

        @include desktop-only {
            margin-bottom: 30px;
            margin-right: 0;
        }
    }
}