@mixin btn {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    height: 50px;
    padding: 0 20px;
    border-radius: 1.5rem;
    color: $white;
    background: $primary-gradiant;
    border: none;
    cursor: pointer;
    box-shadow: 0px 2px 5px $i-grey;
    &:hover {
        opacity: 0.7;
    }

    @include tablet-only {
        transform: scale(1.2);
    }
    
}

@mixin step {
    background-color: $grey;
    width: 100%;
    margin-bottom: 30px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 8px 7px $dark-grey;

    i {
        color: $i-grey;
        font-size: 1.1rem;
        margin: 0px 25px 0 15px;
        width: 23px;
        }

    .step_num {
        background-color: $colour-primary;
        color: $white;
        border-radius: 1rem;
        height: 25px;
        width: 26px;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        left: -10px;

        @include tablet-only {
            font-size: 1.1rem;
        }
    }

    .step_description {
        width: 100%;
        font-weight: 700;
    }

    @include tablet-only {
        width: 65%;
        font-size: 1.3rem;

        i {
            font-size: 1.3rem;
        }
    }

    @include desktop-only {
        width: 25%;
        margin-right: 20px;
    }
}

@mixin like_animation {
    
    .unliked{
        transition: color 550ms 50ms ease-in-out;
        position: relative;
        color: $i-grey;
        &:hover {
            color: $colour-secondary;
        }

        &:hover > .liked{
            transform: scale(1);
        }
    }
    .liked{
        position: absolute;
        top: 0;
        left: 0;
        background: $primary-gradiant;
        -webkit-background-clip: text;
        color: transparent;
        transform: scale(0);
        transform-origin: bottom;
        transition: transform 400ms 50ms ease-in-out;
    }
}

@mixin meal {
    background-color: $white;
    border-radius: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    box-shadow: 0px 7px 15px #cccbcb;
    cursor: pointer;
    text-overflow: ellipsis;

    .meal_description {
        width: 90%;
        padding: 15px 0 15px 10px;
        
        h4 {
            font-size: 1.1rem;
            margin-bottom: 5px;
            text-overflow: ellipsis;
        }
    
        p {
            font-size: 1rem;
            font-weight: 300;
            text-overflow: ellipsis;
        }
    }

    .price {
        width: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-bottom: 15px;
        font-size: 1.05rem;
        font-weight: 600;
    }
}

@mixin tablet-only {
    @media screen and (min-width: map-get($breakpoints, tablet)){
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: map-get($breakpoints, desktop)){
        @content;
    }
}

